*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #fff7ed;
  min-height: 100vh;
}

/* Typography */

h1,
h3,
p {
  margin: 0;
}

/* Home page styles */

main {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3)),
    url("./assets/hero-bg.jpg");
  background-size: cover;
  height: 80vh;
  color: #ffffff;
  padding: 3em 1em;
}

.find-van-btn {
  margin-top: auto;
  background: #ff8c38;
  width: 100%;
  height: 3em;
}

button {
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  color: #b3aeae;
}

/* about page styles */

.about-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

article {
  padding: 1em 1.2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.8em;
}

.splash-container {
  height: 400px;
  background-image: url("./assets/about-splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

article > h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

article > p {
  font-weight: 500;
  font-size: 1rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffcc8d;
  border-radius: 5px;
  padding: 1.4em;
  margin-top: auto;
  height: 100%;
  max-height: 200px;
}

.cta > button {
  background: #161616;
  border-radius: 10px;
  width: 200px;
  height: 45px;
}

/* Van's page styles */

.vans-list-container,
.van-page-upper {
  padding: 0.8em 1em;
}

.van-page-upper > h1 {
  font-size: 1.8rem;
  margin-bottom: 0.625em;
}

.filter-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.filter-btn {
  background-color: #ffead0;
  color: #4d4d4d;
  width: 100%;
  max-width: 100px;
  height: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container > p {
  border-bottom: 1px solid black;
}

.vans-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 1.25em;
}

/* Van details page */

.van-detail-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2.2em;
}

.van-detail-page > img {
  border-radius: 5px;
}

.rent-van-btn {
  background: #ff8c38;
  height: 50px;
}

.back-to-vans-link {
  display: flex;
  gap: 5px;
}

.back-to-vans-link > a {
  text-decoration: none;
  color: inherit;
}

.back-to-vans-link > a:hover {
  text-decoration: underline;
}

/* utility */

.lower-font {
  font-size: 0.6rem;
}
